{% if page.sdgs %}
<div class="sdg-badges">
  {% for sdg_key in page.sdgs %}
    {% assign goal = site.data.sdgs.goals[sdg_key] %}
    {% if goal %}
    <a href="{{ goal.url }}" target="_blank" rel="noopener noreferrer" class="sdg-badge" style="background:{{ goal.color }};" title="SDG {{ goal.number }}: {{ goal.name }}">
      <i data-lucide="{{ goal.icon }}" style="width:12px;height:12px;display:inline;vertical-align:-1px;margin-right:3px;"></i>SDG {{ goal.number }}
    </a>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
